@using Microsoft.AspNetCore.Identity;
@inject UserManager<PetHouse.Models.User> UserManager;
@if (!User.Identity.IsAuthenticated)
{
	<div class="dn m-md-2">
		<a asp-area="" asp-controller="Account" asp-action="Login">ĐĂNG NHẬP</a>
		<a asp-area="" asp-controller="Account" asp-action="Register">ĐĂNG KÝ</a>
	</div>
}
else{
	<div class="dropdown">
		<i class="bi bi-person-circle"
		   style="color: #f9a392; font-size: 25px"></i><button class="nut_dropdown">@UserManager.GetUserName(User)</button>
		<div class="noidung_dropdown">
			<a>Tài khoản của tôi</a>
			<a asp-area="" asp-controller="Order" asp-action="Index" asp-route-stt ="10">Đơn đặt hàng</a>
			<a asp-area="" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
		</div> 
	</div>
}