<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - petshop</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/petshop.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	@await RenderSectionAsync("Style", required: false)
</head>
<body>
	<header>
		<div class="header fixed-top justify-content-between">

			<div class="top">
				<div class="left">
					<div class="phone m-md-2">
						<i class="bi bi-telephone-fill" style="color: gray"></i>+012 345
						6789
						<i class="bi bi-envelope-fill m-1"
						   style="color: gray; padding-left: 20px"></i>mail@gmail.com
					</div>
				</div>
				<div class="right">					
					<partial name="_Identity" />

				</div>
			</div>
			<div class="middle d-flex">


				<div class="d-flex">
					<img src="~/images/logo.png"
	   class="logo"
	   style="
                    width: 130px;
                    height: 130px;
                    margin-top: -20px;
                    margin-left: 90px;
                  "
	   alt="" />
					<p style="margin-top: 30px; font-size: 25px">PET'S HOUSE</p>
				</div>
				<div class="input-group mb-3 m-md-4"
					 style="width: 500px; height: 10px">
					<input type="text"
						   class="form-control"
						   placeholder="Tìm kiếm..."
						   aria-label="Recipient's username" />
					<button class="btn btn-outline-secondary" type="button">
						<i class="bi bi-search"
						   style="color: #f9a392; font-size: 20px"></i>
					</button>
				</div>
				@await Component.InvokeAsync("NumberCart")

			</div>
			<div class="menu d-flex">
				<partial name="_CategoriesPartial" model="ViewBag.Categories" />
				<div>
					<ul class="danhmuc2">
						<li><a asp-area="" asp-controller="Home" asp-action="Index">TRANG CHỦ</a></li>
						<li><a asp-area="" asp-controller="Products" asp-action="Index">SẢN PHẨM</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Service">DỊCH VỤ CHĂM SÓC</a></li>
						<li><a href="">TIN TỨC</a></li>
						<li><a href="">LIÊN HỆ</a></li>
					</ul>
				</div>
				<div>
					<span></span>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<div style="margin-top: 200px">
			<partial name="_Breadcrumb" />
				@RenderBody()
			</div>
		</main>
	</div>
	<!-- CHAT BAR BLOCK -->
	<div class="chat-bar-collapsible">
		<button id="chat-button" type="button" class="collapsible">
			Trò chuyện cùng chúng tôi!
			<i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
		</button>

		<div class="content">
			<div class="full-chat-block">
				<!-- Message Container -->
				<div class="outer-container">
					<div class="chat-container">
						<!-- Messages -->
						<div id="chatbox">
							<h5 id="chat-timestamp"></h5>
							<p id="botStarterMessage" class="botText"><span>Loading...</span></p>
						</div>

						<!-- User input box -->
						<div class="chat-bar-input-block">
							<div id="userInput">
								<input id="textInput" class="input-box" type="text" name="msg"
									   placeholder="Tap 'Enter' to send a message">
								<p></p>
							</div>

							<div class="chat-bar-icons">
								<i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
								   onclick="heartButton()"></i>
								<i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
								   onclick="sendButton()"></i>
							</div>
						</div>

						<div id="chat-bar-bottom">
							<p></p>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>
	<footer>
		<div class="footer d-flex" style="background-color: #f4f4f4">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<h3>Liên hệ</h3>
						<p><i class="bi bi-geo-alt"></i> 45 Nguyễn Hữu Thọ -TP Đà Nẵng</p>
						<p><i class="bi bi-envelope-open"></i> petshop@gmail.com</p>
						<p><i class="bi bi-telephone"></i> +012 345 6789</p>
					</div>
					<div class="col-4" style="margin-left: -20px">
						<h3>Về Pet's House</h3>
						Hệ thống cửa hàng chuyên cung cấp các mặt hàng và dịch vụ chăm sóc
						thú cưng. Với tiêu chí uy tín và chất lượng tốt nhất cho các bạn
						thú cưng, ở Pet's House khách hàng sẽ hài lòng về hàng hóa đa dạng
						và phong phú, giá cả cực kỳ phải chăng và nhân viên chăm sóc nhiệt
						tình, chu đáo.
					</div>

					<div class="col-4" style="margin-left: 20px">
						<h3>Chính sách</h3>
						<p>Chính sách đổi/trả hàng và hoàn tiền</p>
						<p>Chính sách vận chuyển, giao nhận</p>
						<p>Bảo mật thông tin khách hàng Hình thức thanh toán</p>
						<h3>Follow us</h3>
						<i class="bi bi-facebook"></i>
						<i class="bi bi-twitter"></i>
						<i class="bi bi-instagram"></i>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/chat.js"></script>
	<script src="~/js/reponses.js"></script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>