@{
    ViewData["Tittle"] = "Blog List";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
    <meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

    <!-- SITE TITLE -->
    <title>Blog List</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/linearicons.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/simple-line-icons.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="~/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>

<body style="margin-top: 200px">
    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container">
            <!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>Blog List</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                        <li class="breadcrumb-item active">Blog three columns</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->
    <!-- START MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION BLOG -->
<div class="section">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-9">
                <div class="row blog_thumbs">
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-12">
                                <div class="blog_post blog_style2 box_shadow1">
                                    <div class="blog_img">
                                        <a href="blog-single.html">
                                            <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                        </a>
                                    </div>
                                    <div class="blog_content bg-white">
                                        <div class="blog_text">
                                            <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                            <ul class="list_none blog_meta">
                                                <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                                <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                            </ul>
                                            <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="blog_post blog_style2 box_shadow1">
                            <div class="blog_img">
                                <a href="blog-single.html">
                                    <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                    </ul>
                                    <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-12">
                                <div class="blog_post blog_style2 box_shadow1">
                                    <div class="blog_img">
                                        <a href="blog-single.html">
                                            <img src="~/images/blog_small_img1.jpg" alt="blog_small_img1">
                                        </a>
                                    </div>
                                    <div class="blog_content bg-white">
                                        <div class="blog_text">
                                            <h5 class="blog_title"><a href="blog-single.html">Thức ăn cho chó cần phải làm gì blabalal</a></h5>
                                            <ul class="list_none blog_meta">
                                                <li><a href="#"><i class="ti-calendar"></i> ngày 14/2/2023</a></li>
                                                <li><a href="#"><i class="ti-comments"></i> 10 bình luận </a></li>
                                            </ul>
                                            <p>Mày cần phải để cái mô tả ngắn ở đây admnkasdmaskdmaskdmaskdkasd</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2 mt-md-4">
                        <ul class="pagination pagination_style1 justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i class="linearicons-arrow-left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        	<div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
            	<div class="sidebar">
                	<div class="widget">
                        <div class="search_form">
                            <form> 
                                <input required="" class="form-control" placeholder="Search..." type="text">
                                <button type="submit" title="Subscribe" class="btn icon_search" name="submit" value="Submit">
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                	<div class="widget">
                    	<h5 class="widget_title">Danh mục </h5>
                        <ul class="widget_recent_post">
                            <li>
                                <div class="post_footer">                                    
                                    <div class="post_content">
                                        <h6><a href="#">Kinh nghiệm chăm soc</a></h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post_footer">                                    
                                    <div class="post_content">
                                        <h6><a href="#">Biện pháp phòng bệnh</a></h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="post_footer">                                    
                                    <div class="post_content">
                                        <h6><a href="#">Cách huấn luyện</a></h6>
                                    </div>
                                </div>
                            </li>

                    	</ul>
                    </div>
                    <div class="widget">
                                <h5 class="widget_title">Lọc bài viết</h5>
                                <ul class="widget_archive">
                                    <li><a href="#"><span class="archive_year">Tháng 8  2022</span><span class="archive_num">(12)</span></a></li>
                                    <li><a href="#"><span class="archive_year">Tháng 6  2022</span><span class="archive_num">(5)</span></a></li>
                                    <li><a href="#"><span class="archive_year">Tháng 5  2022</span><span class="archive_num">(6)</span></a></li>
                                    <li><a href="#"><span class="archive_year">Tháng 3  2022</span><span class="archive_num">(7)</span></a></li>
                                    <li><a href="#"><span class="archive_year">Tháng 2  2022</span><span class="archive_num">(10)</span></a></li>
                                </ul>
                            </div>
                    <div class="widget">
                                <h5 class="widget_title">tags</h5>
                                <div class="tags">
                                    <a href="#">bỏ</a>
                                    <a href="#">cũng</a>
                                    <a href="#">được</a>
                                    <a href="#">blabla</a>
                                    <a href="#">aaaa</a>
                                    <a href="#">hdkasdhask</a>
                                    <a href="#">dsadasdsa</a>s
                                    <a href="#">sdasd</a>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- END SECTION BLOG -->
    </div>
    <!-- END MAIN CONTENT -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <!-- popper min js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="~/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="~/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- imagesloaded js -->
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="~/js/isotope.min.js"></script>
    <!-- jquery.dd.min js -->
    <script src="~/js/jquery.dd.min.js"></script>
    <!-- slick js -->
    <script src="~/js/slick.min.js"></script>
    <!-- fit video  -->
    <script src="~/js/jquery.fitvids.js"></script>
    <!-- elevatezoom js -->
    <script src="~/js/jquery.elevatezoom.js"></script>
    <!-- scripts js -->
    <script src="~/js/scripts.js"></script>

</body>
</html>