@using Microsoft.AspNetCore.Identity;
@inject UserManager<PetHouse.Models.User> _usermanager
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quản trị Admin</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Main CSS-->
	<link rel="stylesheet" type="text/css" href="~/Admin/css/main.css" />
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
	<!-- or -->
	<link rel="stylesheet"
		  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>
	<!-- Font-icon css-->
	<link rel="stylesheet"
		  type="text/css"
		  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet"
		  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />
	@await RenderSectionAsync("Style", required: false)
</head>

<body class="app sidebar-mini rtl">

	<!-- Navbar-->
	<header class="app-header">
		<!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
								  aria-label="Hide Sidebar"></a>
		<!-- Navbar Right Menu-->
		<ul class="app-nav">


			<!-- User Menu-->
			<li>
				<a class="app-nav__item" href="/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

			</li>
		</ul>
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<h3 style="color: rgb(221, 221, 24);">PET'S HOUSE</h3>
			<p class="app-sidebar__user-designation">Chào mừng đến với trang Admin</p>
		</div> -->
		<hr>

		<ul class="app-menu">

			<li>
				<a class="app-menu__item" asp-controller="Home" asp-action="Index">
					<i class="app-menu__icon bx bx-bar-chart-alt-2"></i><span class="app-menu__label">Trang chủ</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" asp-controller="AdminAccount" asp-action="IndexKH">
					<i class="app-menu__icon bx bx-user-voice"></i><span class="app-menu__label">Quản lý tài khoản</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" asp-controller="AdminProducts" asp-action="Index">
					<i class="app-menu__icon bx bx-data"></i><span class="app-menu__label">Quản lý sản phẩm</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" asp-controller="AdminOrder" asp-action="Index">
					<i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Quản lý đơn hàng</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" href="form-danhgia.html">
					<i class="app-menu__icon bx bx-star"></i><span class="app-menu__label">Quản lý đánh giá</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" href="form-tintuc.html">
					<i class="app-menu__icon bx bx-bookmark"></i><span class="app-menu__label">Quản lý bài đăng</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" href="">
					<i class="app-menu__icon bx bx-chat"></i><span class="app-menu__label">Tư vấn khách hàng</span>
				</a>
			</li>

			<li>
				<a class="app-menu__item" asp-controller="AdminImports" asp-action="Index">
					<i class="app-menu__icon bx bx-import"></i><span class="app-menu__label">Quản lí nhập hàng</span>
				</a>
			</li>
			<li>
				<a class="app-menu__item" asp-controller="AdminSuppliers" asp-action="Index">
					<i class="app-menu__icon bx bx-group"></i><span class="app-menu__label">Quản lí nhà cung cấp</span>
				</a>
			</li>
			
		</ul>
	</aside>
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active">
					<a href="#"><b>@ViewData["Title"]</b></a>
				</li>
			</ul>			
		</div>
		@RenderBody()
		
	</main>
	@*
	<footer class="border-top footer text-muted">
	<div class="container">
	&copy; 2023 - PetHouse - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
	</footer>*@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
	<script src="~/Admin/js/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Admin/js/popper.min.js"></script>
	<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
	<!--===============================================================================================-->
	<script src="~/Admin/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Admin/js/main.js"></script>
	<!--===============================================================================================-->
	<script src="~/Admin/js/plugins/pace.min.js"></script>
	<!--===============================================================================================-->
	@*<script type="text/javascript" src="js/plugins/chart.js"></script>*@
	<!--===============================================================================================-->
	@await RenderSectionAsync("Scripts", required: false)
	@await Component.InvokeAsync("Notyf")
</body>
</html>
