@using Microsoft.AspNetCore.Identity;
@inject UserManager<PetHouse.Models.User> UserManager;
<div class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="text-center order_complete">
					<i class="fas fa-check-circle"></i>
					<div class="heading_s1">
						<h3>Đơn hàng của bạn đã được đặt hàng thành công!</h3>
					</div>
					@if (User.Identity.IsAuthenticated)
					{
						<p>Vui lòng kiểm tra trong lịch sử đặt hàng</p>
					}
					<a asp-controller="Home" asp-action="Index" asp-area="" class="btn btn-fill-out">Continue Shopping</a>
				</div>
			</div>
		</div>
	</div>
</div>